p{font-family: "黑体",楷体, "微软雅黑";
font-size: 14pt;
font-weight: bold;
color: #0000FF;
font-variant:small-caps;
}
h2{font: normal small-caps bolder 25pt 黑体;
color: #FF0000;}
h1{
	text-shadow: 3px 3px 5px red,5px 5px 3px greenyellow;
}
