*{margin: 0px;padding: 0px;}
div{width: 120px; font-family: "微软雅黑";}
ul{list-style-type: none;}
li{border-bottom: 1px solid #000000; width: 120px;}
a{display: block; padding: 15px; background-color: silver;}
li a:hover{background-color: #008000;color: #FFFFFF;}
